@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


.language-dropdown{
    margin-right: 20px;
}

.separator {
    width: 1px;
    height: 25px; 
    background-color: #ccc;
    margin: 0 10px; 
}

.footer {
    background-color: #f2f2f2;
    padding: 20px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    flex: 0 0 30%; 
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list-item {
    margin-bottom: 5px;
}

.about-icons {
    display: flex;
    align-items: center;
}

.about-icons img {
    margin-right: 10px;
}

.bottom-bar {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    align-items:start ;
    font-size: 12px;
}

.scroll-to-top {
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.madeBy{
    font-size: 12px;
}
.madeBy a {
    text-decoration: none; 
    color: #fff; 
    transition: text-decoration 0.3s;

}
.madeBy a:hover {
    text-decoration: underline; 
}

.underline a{
    transition: text-decoration 0.3s !important; 
    color: black !important;
    font-size: 13px;
}

.underline a:hover{
    text-decoration: underline !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white; 
  }
  
  .overlay-content {
    position: relative;
    width: 25%; 
    height: 100%;
    background: white; 
    padding: 10px;
    box-sizing: border-box;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  .overlayText{
    color: black; 
    margin-top: 20%; 
    text-align: center; 
    font-weight: bold;
  }